.base {
    background-color: aliceblue;
}

.header {
    background-color: #2b2a2a;
    color: white;
    font-family: Georgia, Verdana, Tahoma, Courier;
    font-weight: 500;
    /*padding:  2ex 1em 2ex 1.25em*/;
}

.header-icon {
    max-height: 21px;
    max-width: auto;
}

.img-fluid {
    max-width: 100px;
    max-height: 100px;
}

.img-fljuid {
    max-width: 100%;
    max-height: auto;
}