* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

/* ======================================= HEADER ======================================= */
header {
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    color: white;
    padding:  2ex 1rem;
}

#header-name {
    padding-left: 1rem;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: Georgia, Verdana, Tahoma, Courier;
}

.logo {
    max-height: 3rem;
    max-width: auto;
    padding-right: .75ex;
}

#btn-login {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1ex 1.5ex;
    background: none;
    color: rgb(1, 133, 1);
    border: 1px rgb(1, 133, 1) solid;
    border-radius: 4px;
}
/* ====================================================================================== */ 

/* ======================================== ABOUT ROW ======================================== */

#banner {
    display: block;
    width: 100%;
    max-height: 50vh;
    object-fit: cover; 
    border-radius: 3rem 3rem 0rem 0rem;
    z-index: 1;
}

.banner-row {
    margin: 1.25rem;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3rem;
}

#prof-pic-container {
    margin-bottom: -19vh;
    object-fit: cover;
    width: 35vh;
    position: relative;
    left: 1.5vw;
    bottom: 19vh;
    z-index: 2;
}

#prof-pic {
    border-radius: 100%;
    width: 100%;
    height: auto;
} 

.edit-btn {
    position: relative;
    left: .5vw;
    top: 11vh;
    background: none;
    border: none;
}

.bi-pencil-square {
    min-height: 2.5rem;
    width: auto;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

#brief-intro {
    padding-left: 2rem;
}

#brief-intro h3 {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 2.75rem;
}

#brief-intro p {
    margin-bottom: .5rem;
    font-size: 1.65rem;
}

#buttons-div {
    margin: 1.425rem 2rem 1.5rem 2rem;
}

#buttons-div button {
   margin-right: .5rem;
   font-weight: 500;
   font-size: 1.5rem;
}

/* ============================================================================================== */

/* ===================================== NORMAL ROWS ============================================ */

.normal-row {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3rem;
    min-height: 8rem;
    padding: 0 0 1rem 2rem;
    margin: 1.25rem;
  }

/* ============================================================================================== */