.d-flex {
    display: flex;
}

/* ======================================= HEADER ======================================= */
header {
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    color: white;
    padding:  2ex 1rem;
}

#name {
    padding-left: 1rem;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: Georgia, Verdana, Tahoma, Courier;
}

.logo {
    max-height: 3rem;
    max-width: auto;
    padding-right: .75ex;
}

#btn-login {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1ex 1.5ex;
    background: none;
    color: rgb(1, 133, 1);
    border: 1px rgb(1, 133, 1) solid;
    border-radius: 4px;
}
/* ====================================================================================== */ 

/* ======================================== MAIN ======================================== */
.main {
    background-color: white;

}

div.main div {
    margin: ;
}


/* ====================================================================================== */

.img-fluid {
    max-width: 100px;
    max-height: 100px;
}

.img-fljuid {
    max-width: 100%;
    max-height: auto;
}